<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:spring/conf.properties"/>
    <!--此处 的作用是扫描该包下所有带有@Controller注解的类-->
    <context:component-scan base-package="com.xcy.nuoya.controller"/>

    <!--视图解析器的作用：展示页面  当你需要前缀和后缀的时候，可以将其写出来，一般的项目都写试图解析器-->
    <!--视图解析器-->
    <!-- /WEB-INF/jsp/hello.jsp -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--默人加载的处理器映射器和处理器适配器都有些老了，在源代码中直接说明需要使用哪些新的类去替代-->
    <!--<bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />
    <bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
    --><!--加上这一句话，就相当于配置了处理器映射器，处理器适配器,一句顶两句使用，作用之一-->
    <!--<mvc:annotation-driven/>-->

    <!--文件上传解析器，用于文件的上传，如果没有文件上传，不用配置此项，id必须是multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880"/>
    </bean>


    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
</beans>